[submodule "mucommander-commons-conf"]
	path = mucommander-commons-conf
	url = https://github.com/mucommander/mucommander-commons-conf
[submodule "mucommander-commons-io"]
	path = mucommander-commons-io
	url = https://github.com/mucommander/mucommander-commons-io
[submodule "mucommander-commons-runtime"]
	path = mucommander-commons-runtime
	url = https://github.com/mucommander/mucommander-commons-runtime
[submodule "mucommander-commons-util"]
	path = mucommander-commons-util
	url = https://github.com/mucommander/mucommander-commons-util
