[access "refs/*"]
	owner = group user/Arik Hadas (ahadas)
[access "refs/for/refs/*"]
	read = group user/Arik Hadas (ahadas)
	push = group user/Arik Hadas (ahadas)
	label-Code-Review = -2..+2 group user/Arik Hadas (ahadas)
	label-Verified = -1..+1 group user/Arik Hadas (ahadas)
	rebase = group user/Arik Hadas (ahadas)
	removeReviewer = group user/Arik Hadas (ahadas)
	submit = group user/Arik Hadas (ahadas)
[access "refs/heads/*"]
	read = group user/Arik Hadas (ahadas)
	create = group user/Arik Hadas (ahadas)
	push = +force group user/Arik Hadas (ahadas)
	pushMerge = group user/Arik Hadas (ahadas)
	label-Verified = -1..+1 group Registered Users
[access "refs/tags/*"]
	push = +force group user/Arik Hadas (ahadas)
	pushTag = group user/Arik Hadas (ahadas)
	pushSignedTag = group user/Arik Hadas (ahadas)
