<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>muCommander Ant tools</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

<a href="overview.html" target="task"><h3><strong>muCommander Ant tools</strong></h3></a>

<p><a href="index.all.html" target="taskindex">All</a></p>
<p>
Categories<br/>
#foreach( $category in $antroot.getCategories() )
  <a href="index.${category}.html" target="taskindex">$category</a><br />
#end
</p>
</body>
</html>
