<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>muCommander Ant tools</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<h1>muCommander Ant tools</h1>
<p>
This documentation describes the various Ant tools used to compile and package muCommander.<br/>
While some of them are muCommander specific, others can be re-used by other projects. For the sake
of convenience, tasks have been split in the following categories:
<ul>
  <li><a href="index.webstart.html" target="taskindex">webstart</a>: tasks and types used to generate webstart description files.</li>
  <li><a href="index.macosx.html" target="taskindex">macosx</a>: tasks and types used to generate Mac OS X applications.</li>
  <li><a href="index.util.html" target="taskindex">util</a>: general purpose tasks and types.</li>
</ul>
</p>
</body>

</html> 
