<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
  <title>$taskDoc.getAntName()</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
<h2><font size="-2">$!taskDoc.getAntCategory()</font><br/>$taskDoc.getAntName()</h2>
  <h3><strong>Description</strong></h3>
  <p>$taskDoc.getComment()</p>

  <h3><a name="attributes"><strong>Parameters</strong></a></h3>
  <p>
  <table width="100%">
    <tr>
      <td valign="top" align="left" width="1%"><b>Type</b></td>
      <td valign="top" align="left" width="1%"><b>Attribute</b></td>
      <td valign="top" align="left"><b>Description</b></td>
      <td valign="top" align="left"><b>Required</b></td>
    </tr>
#foreach ($attr in $taskDoc.attributes )
    <tr>
      <td valign="top" align="left"><code>$taskDoc.getAttributeType($attr)</code></td>
      <td valign="top" align="left">$attr</td>
      <td valign="top" align="left">$taskDoc.getAttributeComment($attr)</td>
      <td valign="top" align="left">
  #if( $taskDoc.getAttributeRequired($attr) )
        <b>Yes</b><br/> $taskDoc.getAttributeRequired($attr)
  #elseif ( $taskDoc.getAttributeNotRequired($attr) )
        <b>No</b><br/> $taskDoc.getAttributeNotRequired($attr)
  #else ?
  #end
      </td>
    </tr>
#end
  </table>
</p>

<hr/>

<p>
  <h3>Parameters accepted as nested elements</h3>
#if ($taskDoc.isTaskContainer())
  <br/>This Task is a Container (it accepts nested Tasks).
#end
#if ($taskDoc.supportsCharacters())
  <br/>This Task accepts text in its element body.
#end
</p>

#foreach ($element in $taskDoc.getNestedElements())
  #set($elementDoc = $taskDoc.getElementDoc($element))
<p>

  #if( $elementDoc.sourceIncluded() && ($elementDoc.getNestedElements().hasMoreElements() || $elementDoc.isTagged()))
<a href="${elementDoc.getFullClassName()}.html"><strong>$element</strong></a>
  #else
<strong>&lt;$element&gt;</strong>
    #if ( ! $elementDoc.sourceIncluded() )
 (Of type ${elementDoc.getAntName()} )
    #end
  #end
<br/>
  #if($elementDoc.getComment())
$elementDoc.getComment()
  #end
<table width="100%">
  <tr>
    <td valign="top" align="left" width="1%"><b>Type</b></td>
    <td valign="top" align="left" width="1%"><b>Attribute</b></td>
    <td valign="top" align="left"><b>Description</b></td>
    <td valign="top" align="left"><b>Required</b></td>
  </tr>

  #foreach ($elementAttr in $elementDoc.getAttributes())
  <tr>
    <td><code>$elementDoc.getAttributeType($elementAttr)</code></td>
    <td>$elementAttr</td>
    <td><span>$!elementDoc.getAttributeComment($elementAttr)</span></td>
    <td>
    #if($elementDoc.getAttributeRequired($elementAttr))
      <b>Yes</b><br/> $elementDoc.getAttributeRequired($elementAttr)
    #elseif ( $elementDoc.getAttributeNotRequired($elementAttr) )
      <b>No</b><br/> $elementDoc.getAttributeNotRequired($elementAttr)
    #else ?
    #end
    </td>
  </tr>
  #end
</table>
</p>
#end
</body>
</html>
