<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>$title Ant Tasks</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<h3><a name="attributes"><strong>$category Tasks</strong></a></h3>
#foreach( $taskDoc in $antroot.getTasksByCategory($category) )
  #if($taskDoc && !$taskDoc.isInnerClass())
  <a href="${taskDoc.getFullClassName()}.html" target="task">${taskDoc.getAntName()}</a><br/>
  #end
#end

<h3><a name="attributes"><strong>$category Types</strong></a></h3>
#foreach( $taskDoc in $antroot.getTypesByCategory($category) )
  #if($taskDoc && !$taskDoc.isInnerClass() && $taskDoc.isTagged())
  <a href="${taskDoc.getFullClassName()}.html"  target="task">${taskDoc.getAntName()}</a><br/>
  #end
#end
</body>
</html>
