name: Unit Tests

on: [pull_request, workflow_dispatch]

jobs:
  unit-tests:

    runs-on: ubuntu-latest

    steps:
      - name: Check out mucommander repository
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Build with Gradle
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: test
